<mat-form-field appearance="filled">
  <mat-label>Placa</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Marca</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Modelo</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Ano</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Categoria</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Quilometragem Atual</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Situação</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Local de Alocação</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Motorista Responsável</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Data de Aquisição</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Valor de Aquisição</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Observações</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
