<form [formGroup]="cadastroVeiculoForm" (ngSubmit)="onSubmit()">

  <div class="row">

    <div class="col-md-6">
      <label>Placa</label>
      <input type="text" class="form-control" formControlName="placa">

      <label>Marca</label>
      <select class="form-control" formControlName="marca">
        <option value="one">First option</option>
        <option value="two">Second option</option>
      </select>

      <label>Modelo</label>
      <select class="form-control" formControlName="modelo">
        <option value="one">First option</option>
        <option value="two">Second option</option>
      </select>

      <label>Ano</label>
      <select class="form-control" formControlName="ano">
        <option value="one">First option</option>
        <option value="two">Second option</option>
      </select>

      <label>Categoria</label>
      <select class="form-control" formControlName="categoria">
        <option value="one">First option</option>
        <option value="two">Second option</option>
      </select>
    </div>

    <div class="col-md-6">
      <label>Quilometragem Atual</label>
      <input type="text" class="form-control" formControlName="quilometragemAtual">

      <label>Situação</label>
      <select class="form-control" formControlName="situacao">
        <option value="one">First option</option>
        <option value="two">Second option</option>
      </select>

      <label>Local de Alocação</label>
      <select class="form-control" formControlName="localAlocacao">
        <option value="one">First option</option>
        <option value="two">Second option</option>
      </select>

      <label>Motorista Responsável</label>
      <input type="text" class="form-control" formControlName="motoristaResponsavel">

      <label>Data de Aquisição</label>
      <input type="date" class="form-control" formControlName="dataAquisicao">

      <label>Valor de Aquisição</label>
      <input type="text" class="form-control" formControlName="valorAquisicao">
    </div>

  </div>

  <label>Observações</label>
  <textarea class="form-control" formControlName="observacoes"></textarea>

  <button class="btn btn-primary mt-3" type="submit">
    Salvar Cadastro de Veículo
  </button>

</form>
