<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Registrar Revisão</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="formManutencao" (ngSubmit)="salvarManutencao()">

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Veículo (Placa)</label>
                        <select formControlName="veiculoId" class="form-control" (change)="aoSelecionarVeiculo()">
                            <option value="">Selecione o veículo...</option>
                            <option *ngFor="let v of listaVeiculos" [value]="v.id">
                                {{ v.placa }} - {{ v.modelo }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Data do Serviço</label>
                        <input type="date" formControlName="dataManutencao" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">KM Atual do Veículo</label>
                        <input type="number" formControlName="quilometragem" class="form-control"
                            placeholder="Ex: 15000">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label text-danger"><b>KM Próxima Revisão</b></label>
                        <input type="number" formControlName="proximaRevisaoKm" class="form-control"
                            placeholder="Ex: 25000">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label">Tipo</label>
                        <select formControlName="tipo" class="form-control">
                            <option value="Preventiva">Preventiva</option>
                            <option value="Corretiva">Corretiva</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label class="form-label">Oficina / Estabelecimento</label>
                        <input type="text" formControlName="oficinaResponsavel" class="form-control"
                            placeholder="Nome da oficina">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label">Valor Total (R$)</label>
                        <input type="number" formControlName="valorServico" class="form-control" step="0.01">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Itens Substituídos / Observações</label>
                    <textarea formControlName="itensSubstituidos" class="form-control" rows="3"
                        placeholder="Ex: Troca de óleo, filtros, pastilhas..."></textarea>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success btn-lg" [disabled]="formManutencao.invalid">
                        Gravar Manutenção no Banco
                    </button>
                </div>
            </form>
        </div>
    </div>

    <h3 class="mt-4">Histórico Geral de Manutenções</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th>Placa</th>
                    <th>Data</th>
                    <th>KM no Momento</th>
                    <th>Próxima Revisão (KM)</th>
                    <th>Tipo</th>
                    <th>Oficina/Local</th>
                    <th>Valor Total</th>
                    <th>Observações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of listaManutencoes">
                    <td>{{ m.veiculo?.placa }}</td>
                    <td>{{ m.dataManutencao | date:'dd/MM/yyyy' }}</td>
                    <td>{{ m.quilometragem }} KM</td>
                    <td>{{ m.proximaRevisaoKm }} KM</td>
                    <td>{{ m.tipo }}</td>
                    <td>{{m.oficinaResponsavel}}</td>
                    <td>{{ m.valorServico | currency:'BRL' }}</td>
                    <td>{{ m.itensSubstituidos }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>